/*Write css in the three blocks provided below.
You shoud not add any other classes here.*/

.box1{
    display:grid;
}
.row{
    display:flex;
    padding-top: 50px;
    margin-left:70px;
    gap:116px;

    /* directly without using margins and paddings */

    /* align-items: center; */
    /* justify-content: space-evenly; */
    /* justify-content: space-between; */
    
}


.box2{
    position: relative;
}